body{
    background-color: #E9EFC0;
}

hr{
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    
}
h1{
    color: #4E944F;
}
h2{
    color: #4E944F;
}